body {
    height: 100vh;
}
#top-text {
    font-family: 'Gochi Hand', Helvetica, sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}
#char-wrapper {
    max-width: 550px;
}
.char-group,
.char-group-hero,
.char-group-evil,
.char-group-villain {
    position: relative;
}
.character {
    border: solid 5px #afeeee;
    box-shadow: 0 0 15px #afeeee;
    margin: 25px 30px;
    max-height: 180px;
    transition: .2s;
    width: auto;
}
.selection:hover {
    background-color: #daffff;
    box-shadow: inset 0 0 30px #afeeee;
    margin: 0px 15px; 
    max-height: 210px;
    transition: .2s;
}
.selection:active {
    box-shadow: inset 0 0 70px #209191;
    transition: .1s
}
.evil,
.villain {
    border: solid 5px #d87093;
    box-shadow: 0 0 15px #d87093;
}
.evil:hover {
    background-color: #ffc4d8;
    box-shadow: inset 0 0 30px #d87093;
    margin: 0px 15px; 
    max-height: 210px;
}
.evil:active {
    box-shadow: inset 0 0 70px #942a4e;
}
.dormant {
    border: solid 5px #d87093;
    box-shadow: 0 0 15px #d87093;
    max-height: 80px !important;
    transition: .75s;
    transition-timing-function: ease-in-out;
}
.hp-badge {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    background-image: radial-gradient(#209191 , #afeeee 200%);
    border-radius: 5px;
    height: 70px;
    width: 50px;
    position: absolute;
        right: 10px;
        top: 30px;
}
.hp-badge-hero {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    background-image: radial-gradient(#209191 , #afeeee 200%);
    border-radius: 5px;
    height: 70px;
    width: 50px;
    position: absolute;
        right: 21px;
        top: 40px;
}
.hp-badge-evil {
    background-image: radial-gradient(#942a4e , #d87093 200%);
}
.hp-text,
.hp-digit {
    color: #fff;
    font-family: 'Permanent Marker', Helvetica, sans-serif;
    margin: 0;
}
.hero-player {
    pointer-events: none;
}
.hero-notes {
    color: #209191;
    font-family: 'Gochi Hand', Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.2;
}
.villain-notes {
    color: #942a4e;
    font-family: 'Gochi Hand', Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.2;
}
#btn-fight {
    background-color: #209191;
    border: solid 5px #43b3b3;
    box-shadow: 0 0 15px #43b3b3;
    color: #fff;
    font-family: 'Permanent Marker', Helvetica, sans-serif;
    font-size: 1.5rem;
    height: 110px;
    width: 110px
}
#btn-fight p {
    position: relative;
    top: 30px;
}
#btn-fight:hover {
    border-radius: 50%;
    box-shadow: inset 0 0 25px #afeeee;
    cursor: default;
    text-shadow: 3px 3px 1px #333;
    text-transform: uppercase;
    max-height: 210px;
    transition: .1s;
    transition-timing-function: ease-in-out;
}
#btn-fight:active {
    border: solid 5px #3e9e9e;
    box-shadow: inset 0 0 60px #afeeee;
    font-size: 1.4rem;
    height: 105px;
    margin-top: 2px;
    margin-bottom: 3px;
    text-shadow: 1px 2px 1px #333;
    transition: .05s;
    transition-timing-function: ease-in-out;
    width: 105px;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

@media only screen and (max-width: 770px) {
    #char-wrapper {
        max-width: unset;
    }
    .character {
        margin: 20px 25px;
        max-height: 140px;
    }
    .selection:hover,
    .evil:hover {
        margin: 0 10px;
        max-height: 170px;
    }
    .hp-badge,
    .hp-badge-hero,
    .hp-badge-evil {
        height: 55px;
        width: 45px;
        right: 9px;
        top: 23px;
    }
    .hp-text {
        font-size: 1.3rem !important;
    }
    .hp-digit {
        font-size: 1rem !important;
    }
}
@media only screen and (max-width: 450px) {
    #top-text {
        font-size: 2.5rem;
    }
    .character {
        margin: 15px;
        max-height: 130px;
    }
    .selection:hover,
    .evil:hover {
        max-height: 150px;
    }
    .hp-badge,
    .hp-badge-hero,
    .hp-badge-evil {
        right: -3px;
        top: 5px;
    }
    .hero-notes,
    .villain-notes {
        font-size: 1.25rem;
    }
}