#char-wrapper {
    max-width: 550px;
}
.character {
    border: solid 5px palevioletred;
    box-shadow: 0 0 15px palevioletred;
    max-height: 200px;
    transition: .2s;
    width: auto;
}
.character:hover {
    box-shadow: inset 0 0 30px palevioletred;
    max-height: 230px;
    background-color: #ffe7ef;
    transition: .2s;
}

@media only screen and (max-width: 770px) {
    #char-wrapper {
        max-width: unset;
    }
}